# Iris set sample
Data loaded from "iris.csv"

In [26]:
import pandas as pd

df = pd.read_csv('iris.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## Frame manipulation
Splitting off a part of the frame

In [27]:
df_part = df.loc[[10, 20, 30], :]

# Refers to pandas index
df_part.loc[10]

# Refers to python index
df_part.iloc[0]

# Both lines do the same thing but with different methods

sepal_length       5.4
sepal_width        3.7
petal_length       1.5
petal_width        0.2
species         setosa
Name: 10, dtype: object

## Further manipulation
Example: multiply all values in column by 10

In [28]:
df["sepal_length"] = df["sepal_length"] * 10

df

     sepal_length  sepal_width  petal_length  petal_width    species
0            51.0          3.5           1.4          0.2     setosa
1            49.0          3.0           1.4          0.2     setosa
2            47.0          3.2           1.3          0.2     setosa
3            46.0          3.1           1.5          0.2     setosa
4            50.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145          67.0          3.0           5.2          2.3  virginica
146          63.0          2.5           5.0          1.9  virginica
147          65.0          3.0           5.2          2.0  virginica
148          62.0          3.4           5.4          2.3  virginica
149          59.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [29]:
# Revert the change and calc mean
df["sepal_length"] = df["sepal_length"] / 10

df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000